nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    border-bottom: solid 1px #ffffff78;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

nav .top_head {
    padding: 10px 0;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}

nav .top_head ul {
    list-style: none;
    text-align: right;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

nav .top_head ul li {
    position: relative;
    display: inline-block;
    margin-left: 45px;
    margin-right: 0;
}

nav .top_head ul li:last-child::after {
    display: none;
}

nav .top_head ul li::after {
    content: "";
    color: #fff;
    position: absolute;
    right: -25px;
    width: 1px;
    height: 13px;
    top: 7px;
    background: #fff;
}

nav .top_head ul li i {
    color: #fff;
    cursor: pointer;
    font-size: 13px;
}

nav .top_head ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

nav .top_head ul li a:after {
    content: '';
    position: absolute;
    background: white;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

nav .top_head ul li a:hover::after {
    width: 100%;
    left: 0;
}

nav .bottom_line {
    width: 100%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin-top: -33px;
    padding: 0;
}

nav .bottom_line ul.navbar-nav {
    margin-right: 0;
}

nav .bottom_line ul.navbar-nav li {
    position: static;
    margin-left: 25px;
}

nav .bottom_line ul.navbar-nav li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

nav .bottom_line ul.navbar-nav li .mega-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: -120px;
    background: #fff;
    width: 100vw;
    border-bottom: solid 1px #bbb9ac;
    border-top: solid 1px #bbb9ac;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    visibility: hidden;
}

nav .bottom_line ul.navbar-nav li .mega-menu .col-md-3 {
    border-right: solid 1px #bbb9ac;
}

nav .bottom_line ul.navbar-nav li .mega-menu .col-md-3:last-child {
    border-right: none;
}

nav .bottom_line ul.navbar-nav li .mega-menu .col-md-6 {
    border-right: solid 1px #bbb9ac;
}

nav .bottom_line ul.navbar-nav li .mega-menu .col-md-6 .mega-list {
    padding: 70px 110px;
}

nav .bottom_line ul.navbar-nav li .mega-menu .col-md-6:last-child {
    border-right: none;
}

nav .bottom_line ul.navbar-nav li .mega-menu .mega-list {
    padding: 70px 0;
}

nav .bottom_line ul.navbar-nav li .mega-menu .mega-list .overflow {
    overflow: hidden;
    margin-bottom: 13px;
}

nav .bottom_line ul.navbar-nav li .mega-menu .mega-list .overflow img {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

nav .bottom_line ul.navbar-nav li .mega-menu a {
    letter-spacing: 0;
}

nav .bottom_line ul.navbar-nav li .mega-menu a::after {
    display: none;
}

nav .bottom_line ul.navbar-nav li .mega-menu a span {
    font-size: 14px !important;
}

nav .bottom_line ul.navbar-nav li a {
    font-size: 13px;
    color: #fff !important;
    padding: 42px 0 20px;
    text-transform: uppercase;
    position: relative;
    padding-right: 0 !important;
    padding-left: 0 !important;
    letter-spacing: 2px;
}

nav .bottom_line ul.navbar-nav li a:after {
    content: '';
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

nav .bottom_line ul.navbar-nav li a:hover::after {
    width: 100%;
    left: 0;
}

nav .bottom_line ul.navbar-nav li .dropdown-menu {
    background: #121212;
    border-radius: 0;
    padding: 15px;
}

nav .bottom_line ul.navbar-nav li .dropdown-menu a {
    padding: 10px;
    color: #fff !important;
}

nav .bottom_line ul.navbar-nav li .dropdown-menu a:hover {
    background: none;
}

.navbar-brand img {
    width: 135px;
}

.logoblack {
    display: none;
}

.saya_nav .logowhite {
    display: none;
}

.saya_nav .logoblack {
    display: block;
}

nav.saya_nav {
    background-color: #f2f1eb;
    border: none;
    -webkit-box-shadow: 0px -3px 10px #0000002b;
    box-shadow: 0px -3px 10px #0000002b;
}

nav.saya_nav li:after {
    background: #000 !important;
}

nav.saya_nav a {
    color: #000 !important;
}

nav.saya_nav a::after {
    background: #000 !important;
}

nav.saya_nav a i {
    color: #000 !important;
}

nav.saya_nav .bottom_line ul.navbar-nav li a {
    color: #000 !important;
}

nav.saya_nav .top_head ul li i {
    color: #000 !important;
}

* {
    padding: 0;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 19px;
    color: #595959
}

@font-face {
    font-family: 'Nicholas Bold';
    src: url("../fonts/Nicholas Bold.eot");
    src: url("../fonts/Nicholas Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nicholas Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NicholasBold';
    src: url("../fonts/NicholasBold.svg#NicholasBold") format("svg"), url("../fonts/NicholasBold.ttf") format("truetype"), url("../fonts/NicholasBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url("../fonts/FuturaPT-Book.eot");
    src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.svg#FuturaPT-Book") format("svg"), url("../fonts/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url("../fonts/FuturaPT-Demi.eot");
    src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi.svg#FuturaPT-Demi") format("svg"), url("../fonts/FuturaPT-Demi.ttf") format("truetype"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

a:hover,
a:focus,
a:focus-visible {
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'FuturaPT-Book';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nicholas Bold' !important;
    color: #595959 !important;
}

.mn_c_ln {
    width: 1px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 10;
    margin: 0;
}

.mn_c_ln::after {
    content: "";
    width: 1px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    left: 50%;
    margin-left: -0.5px;
    bottom: 0;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.mn_c_ln::before {
    content: "";
    width: 1px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    left: 50%;
    margin-left: -0.5px;
    bottom: 0;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.mn_c_ln::before {
    will-change: transform;
    width: 1px;
    background: #fff;
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes b {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    50% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    50.0001% {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    to {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes b {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    50% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    50.0001% {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    to {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.banner {
    height: 90vh;
    overflow: hidden;
    position: relative;
    background: url(../images/banner.jpg) center center / cover;
}

.banner .mobile-video {
    display: none;
}

.banner video {
    width: 100%;
}

.innerbanner p {
    color: #606060 !important;
}

.banner .container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.banner .container .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.banner .container .caption img {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 150px;
}

.banner .container .caption .c_btn {
    margin-top: 30px;
    display: inline-block;
    background: #d8ab5b;
    color: #fff;
    font-size: 20px;
    padding: 4px 30px;
    transition: all 0.3s ease 0s;
}

.banner .container .caption .c_btn:hover {
    background: #000;
}

.banner .container .caption div {
    margin: 0;
}

.banner .container .caption div h1 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #fff !important;
}

.banner .container .caption div p {
    color: #606060;
    font-size: 18px;
    color: #fff;
}

.banner .container .launch {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.banner .container .launch a {
    font-size: 14px;
    color: #fff;
    position: relative;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.banner .container .launch a::after {
    content: '';
    position: absolute;
    background: white;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    width: 100%;
}

.banner .container .launch a::before {
    content: '';
    position: absolute;
    background: white;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    z-index: 1;
}

.banner .container .launch a:hover::before {
    background: #000;
    width: 100%;
}

.banner .container .launch a:hover {
    color: #000;
}

.banner .container .launch span {
    margin: 0 10px;
}

.pad80 {
    padding: 80px 0;
}

.padb80 {
    padding-bottom: 80px;
}

.span {
    color: #10100f;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.h4 {
    font-size: 60px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.about p {
    color: #595959;
    font-size: 19px;
    margin-bottom: 27px;
    padding-right: 63px;
}

.btns {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-family: serif;
    padding: 10px 0 0 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    -webkit-transition: color 400ms;
    transition: color 400ms;
    font-weight: 600;
    font-family: 'FuturaPT-Book' !important;
}

.btns .arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 53%;
    width: 100%;
}

.btns .arrow:first-of-type::after,
.btns .arrow:last-of-type::after {
    background-color: #10100f;
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 45px;
    height: 1px;
    -webkit-transition: right 400ms ease-out;
    transition: right 400ms ease-out;
}

.btns .arrow:first-of-type::before {
    right: auto;
    left: -33px;
    -webkit-transition: left 400ms ease-out;
    transition: left 400ms ease-out;
}

.btns .arrow:first-of-type::after {
    right: auto;
    left: -120px;
    -webkit-transition: left 400ms ease-out;
    transition: left 400ms ease-out;
}

.btns span {
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    padding: 0 60px 0 0;
    position: relative;
    -webkit-transition: padding 400ms;
    transition: padding 400ms;
    font-size: 18px !important;
}

.btns:hover {
    color: #10100f;
}

.btns:hover span {
    padding-right: 0;
    padding-left: 60px;
}

.btns:hover .arrow:first-of-type::before {
    left: 87px;
}

.btns:hover .arrow:first-of-type::after {
    left: 0;
    opacity: 1;
}

.btns:hover .arrow:last-of-type::before {
    right: -120px;
}

.btns:hover .arrow:last-of-type::after {
    right: -120px;
}

video {
    width: 100%;
}

.about video {
    margin-top: 80px;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
}

.video_play {
    position: relative;
}

.video_play .video-play-button {
    position: absolute;
    z-index: 10;
    top: 55%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-55%);
    transform: translateX(-50%) translateY(-55%);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    border-radius: 50%;
}

.video_play .video-play-button span {
    color: #10100f;
    position: relative;
    z-index: 9;
    font-size: 16px;
}

.video_play .video-play-button::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

.video_play .video-play-button::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.video_play .video-play-button:hover:after {
    background-color: #e6e6e6;
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.grey {
    background: #f2f1eb;
}

.project {
    padding-top: 0;
}

.project .col-lg-6 {
    overflow: hidden;
}

.customers-wrapper .slick-list {
    margin: 0 -15px;
}

.customers-wrapper .customer-box {
    margin: 0 15px;
    position: relative;
    overflow: hidden;
}

.customers-wrapper .customer-box span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.customers-wrapper .customer-box .ply-btn {
    background: #ffffff54;
    padding: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    width: 80px;
    height: 80px;
    line-height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.customers-wrapper .customer-box img {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.customers-wrapper .customer-box:hover .ply-btn {
    background: #fff;
    color: #10100f;
}

.customers-wrapper .customer-box:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.customers-wrapper .product-showcase-carousel-controls {
    position: absolute;
    top: -60px;
    right: 0;
    z-index: 9;
}

.customers-wrapper .product-showcase-carousel-controls img {
    width: 50px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.customers-wrapper .product-showcase-carousel-controls--left img {
    position: relative;
    left: -70px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.customers-wrapper .product-showcase-carousel-controls--left img:hover {
    left: -80px;
}

.customers-wrapper .product-showcase-carousel-controls--right img {
    position: relative;
    right: 0;
}

.customers-wrapper .product-showcase-carousel-controls--right img:hover {
    right: -10px;
}

.project .row {
    margin: 60px 0 0 0;
    border-top: solid 1px #b1b1b1;
}

.project .project_box {
    padding: 60px 110px;
}

.project .project_box h3 {
    color: #10100f !important;
    padding: 26px 0 19px;
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.project .project_box p {
    color: #606060;
    font-size: 18px;
    height: 150px;
    margin-bottom: 0;
}

.project .col-lg-6:hover .hoverImg {
    opacity: 1;
}

.project .col-lg-6:hover .hoverImg img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.project .col-lg-6:first-child {
    border-right: solid 1px #b1b1b1;
}

.project .hoverImg {
    -webkit-transition: cubic-bezier(0.33, 0, 0.13, 1);
    transition: cubic-bezier(0.33, 0, 0.13, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

.project .hoverImg img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: cubic-bezier(0.33, 0, 0.13, 1);
    transition: cubic-bezier(0.33, 0, 0.13, 1);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.project .hoverImg::after {
    content: '';
    background: #0000006b;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.news-wrapper .row {
    margin-top: 50px;
}

.news-wrapper .recent_post h4 {
    font-family: 'FuturaPT-Demi' !important;
    font-size: 36px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    position: relative;
}

.news-wrapper .recent_post .broder-line {
    border-bottom: solid 1px #b7b7b7fc;
}

.news-wrapper .recent_post .broder-line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 2px;
    background: #000;
    bottom: -1px;
}

.news-wrapper .recent_post .post-box {
    overflow: hidden;
}

.news-wrapper .recent_post .post-box .post_img {
    overflow: hidden;
}

.news-wrapper .recent_post .post-box .post_img img {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.news-wrapper .recent_post .post-box .post_text {
    padding: 30px;
}

.news-wrapper .recent_post .post-box .post_text span {
    color: #595959;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

.news-wrapper .recent_post .post-box .post_text p {
    color: #10100f;
    font-size: 18px;
    margin-bottom: 0;
}

.news-wrapper .recent_post .post-box .post_text img {
    width: 50px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.news-wrapper .recent_post .post-box:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.news-wrapper .recent_post .read-d-block {
    display: none;
}

.posting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid #ccc;
}

.posting img {
    margin: 0;
}

.posting p {
    font-size: 18px;
}

.posting .posttext {
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
}

.posting .posttext span {
    font-size: 14px;
    color: #747474;
    margin-bottom: 15px;
    display: block;
}

footer {
    background: #000;
}

footer a:hover {
    color: #fff;
}

footer .footerlogo img {
    width: 135px;
}

footer .row {
    padding: 30px 0;
}

footer .brrow {
    border-top: 1px solid #747474;
    border-bottom: 1px solid #747474;
}

footer .brrow p {
    margin: 0;
}

footer h5 {
    color: #fff !important;
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
}

footer h5::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background: #747474;
    bottom: -3px;
}

footer p {
    color: #747474;
    font-size: 14px;
}

footer p a {
    color: #747474;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

footer li {
    list-style: none;
    margin-bottom: 20px;
}

footer li a {
    color: #747474;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

footer li a:hover {
    color: #fff;
}

footer .folowus i {
    font-size: 16px;
    color: #646363;
    margin-left: 15px;
    font-size: 25px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

footer .folowus i:hover {
    color: #fff;
}

footer .fbright {
    border-right: 1px solid #747474;
}

footer .nobrd {
    border: 0;
}

footer .quickl {
    color: #747474;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .quickl a {
    font-size: 12px;
    color: #747474;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

footer .quickl a:hover {
    color: #fff;
}

footer .copy {
    font-size: 12px;
    padding-top: 13px;
    color: #747474;
    font-size: 12px;
}

.innerbanner .container {
    position: inherit;
}

.innerbanner .south {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden;
    height: calc(100vh - 0px);
}

.innerbanner .south .bg-saya1 {
    background-size: cover !important;
    height: 403px;
}

.innerbanner .south div {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.innerbanner .south img {
    width: 100%;
}

.innerbanner .south .left_img {
    width: 25%;
    margin: 0;
}

.innerbanner .south .center_img .bg-saya {
    height: 200px;
    background-size: cover !important;
}

.innerbanner .south .center_img .pin-spacer {
    padding: 0 !important;
    inset: 0 !important;
    height: auto !important;
}

.innerbanner .south .center_img .caption {
    position: relative;
    top: -63px !important;
    left: 0 !important;
    height: auto !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: auto !important;
}

.innerbanner .south .center_img .caption img {
    width: 150px;
    margin-bottom: 30px;
}

.innerbanner .south .right_img {
    width: 25%;
    margin: 0;
}

.controls .form-group .form-control {
    width: 100%;
    border: none;
    border-bottom: solid 1px #bbbdbf;
    padding: 11px 0;
    background: transparent;
    height: auto !important;
    border-radius: 0;
    font-size: 16px;
}

.controls .form-group .form-control:focus {
    overflow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.constr_wrapper .video_play {
    padding-top: 0;
}

.iframe {
    width: 100%;
    height: 550px;
}

.about_inner {
    position: relative;
    overflow: hidden;
}

.about_inner .col-lg-9 {
    margin: 0;
    z-index: 1;
}

.about_inner .col-lg-3 {
    position: absolute;
    right: 220px;
    top: 100px;
}

.about_inner .col-lg-3 img {
    width: 180%;
}

.gold-avenue .highData {
    height: 315px;
}

.residental_wrapper {
    margin-top: 130px !important;
    height: calc(100vh - 92px) !important;
    top: 0 !important;
}

.residental_wrapper .m20 {
    padding: 0 1.5rem;
}

.residental_wrapper .center_clip {
    -webkit-clip-path: polygon(34.5% 0%, 65.5% 0, 65.5% 100%, 34.5% 100%);
    clip-path: polygon(34.5% 0%, 65.5% 0, 65.5% 100%, 34.5% 100%);
}

.residental_wrapper .d-half-first {
    width: 100%;
}

.residental_wrapper .d-half-first .d-center {
    background-size: cover !important;
    height: 75vh;
}

.residental_wrapper .d-half-first .d-center .caption_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    top: -140px;
    position: relative;
}

.residental_wrapper .d-half-first .d-center .caption_logo img {
    width: 120px;
}

.residental_wrapper .position-left {
    position: absolute;
    left: -90px;
    top: -60px;
    bottom: 0;
}

.residental_wrapper .position-left .d-big {
    margin-bottom: 22px;
}

.residental_wrapper .position-right {
    position: absolute;
    right: -90px;
    top: -60px;
    bottom: 0;
}

.residental_wrapper .position-right .d-big {
    margin-top: 22px;
}

body.navigation_black nav,
body.navigation_blacks nav {
    border: none;
    background: #f2f1eb;
}

body.navigation_black nav .logoblack,
body.navigation_blacks nav .logoblack {
    display: block;
}

body.navigation_black nav .logowhite,
body.navigation_blacks nav .logowhite {
    display: none;
}

body.navigation_black nav li::after,
body.navigation_blacks nav li::after {
    background: #000 !important;
}

body.navigation_black nav li i,
body.navigation_blacks nav li i {
    color: #000 !important;
}

body.navigation_black nav li a,
body.navigation_blacks nav li a {
    color: #000 !important;
}

body.navigation_black nav .bottom_line ul.navbar-nav li a,
body.navigation_blacks nav .bottom_line ul.navbar-nav li a {
    color: #000 !important;
}

body.navigation_black nav .bottom_line ul.navbar-nav li a::after,
body.navigation_blacks nav .bottom_line ul.navbar-nav li a::after {
    background: #000;
}

.contact_tab {
    position: fixed;
    right: 0;
    margin-top: 260px;
    top: 33px;
    margin-right: -82px;
    float: right;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    border: none;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background: #d8ab5b;
    width: 190px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    z-index: 9;
}

.contact_tab:hover {
    background: #595959;
    color: #fff;
}

.contact_tab.icon-call {
    width: 46px;
    background: black;
    margin-top: 140px;
    margin-right: -10px;
    padding: 8px;
}
.whatsapp_tab{
    position: fixed;
    right: 0;
    margin-top: 260px;
    top: -13px;
    margin-right: -82px;
    float: right;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    border: none;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background: #d8ab5b;
    width: 190px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    z-index: 9;
}
.whatsapp_tab:hover {
    background: #595959;
    color: #fff;
}
.custom-control-label {
    color: #595959;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #595959;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #595959;
}

.custom-contro l-input:focus~.custom-control-label::before {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0px;
}

.overlay {
    background: #0000007a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button:focus {
    outline: none !important;
}

.lisitng-wrapper.top130 {
    margin-top: 93px;
    border-top: solid 1px #bbb9ac;
}

.lisitng-wrapper.top130 .d-flex .from-flex {
    width: 60%;
    border-right: solid 1px #f2f1eb;
    background: #e5e3d6;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 47px;
}

.lisitng-wrapper.top130 .d-flex .from-flex .caret {
    position: relative;
    width: 100%;
}

.lisitng-wrapper.top130 .d-flex .from-flex .caret .select2-selection__rendered {
    padding: 0px 22px;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 14px;
}

.lisitng-wrapper.top130 .d-flex .from-flex .caret .select2-selection__arrow {
    top: 12px;
    right: 10px;
    width: 20px;
}

.lisitng-wrapper.top130 .d-flex .from-flex .btns {
    padding: 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    border-radius: 0;
}

.lisitng-wrapper.top130 .d-flex .from-flex .btns:hover {
    background: #595959;
    color: #fff;
}

.lisitng-wrapper.top130 .list_results {
    margin-top: 40px;
}

.lisitng-wrapper.top130 .list_results .col-lg-4 {
    margin: 0;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp {
    background: #e5e3d6;
    padding: 0;
    margin-bottom: 30px;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp .border-box .list-block {
    padding: 0 20px 20px 20px;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp .border-box .list-block p {
    font-size: 16px;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp .border-box .list-block .btns span {
    font-size: 16px !important;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp .border-box .d-flex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 20px;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp .border-box .d-flex span {
    margin: 0;
    font-size: 18px;
}

.lisitng-wrapper.top130 .list_results .list_loop_cp .border-box .d-flex span img {
    width: 14px;
    margin: 0;
    margin-left: 12px;
    position: relative;
    top: 2px;
}

.inner-breadcrumb {
    padding: 40px 0 0 0;
}

.inner-breadcrumb .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0 0 13px 0;
}

.inner-breadcrumb .breadcrumb li {
    margin: 0;
    text-transform: uppercase;
    color: #10100f !important;
    font-size: 12px;
}

.inner-breadcrumb .breadcrumb li a {
    text-transform: uppercase;
    color: #10100f;
    font-size: 12px;
}

.contact-wrapper .h4 {
    margin-bottom: 15px;
}

.contact-wrapper p {
    margin: 0;
    font-size: 16px;
    color: #606060;
}

.contact-wrapper .loact {
    padding: 40px 0;
    border-bottom: solid 1px #606060;
}

.contact-wrapper .loact:last-child {
    border-bottom: none;
}

.contact-wrapper .loact a {
    display: block;
    color: #606060;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.contact-wrapper .loact a:hover {
    color: #000;
}

.contact-wrapper .loact a i {
    margin-right: 8px;
}

.contact-wrapper h2 {
    font-family: "FuturaPT-Book" !important;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-wrapper .touch {
    background: #595959;
    padding: 40px;
}

.contact-wrapper .touch h2 {
    margin-bottom: 10px;
}

.contact-wrapper .touch h2,
.contact-wrapper .touch p {
    color: #fff !important;
    opacity: 0.8;
}

.contact-wrapper .touch p {
    margin-bottom: 20px;
}

.contact-wrapper .touch .form-control {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #ffffff70;
    color: #fff;
    padding: 10px 0;
}

.contact-wrapper .touch .form-control::-webkit-input-placeholder {
    color: #ffffff70;
}

.contact-wrapper .touch .form-control:-ms-input-placeholder {
    color: #ffffff70;
}

.contact-wrapper .touch .form-control::-ms-input-placeholder {
    color: #ffffff70;
}

.contact-wrapper .touch .form-control::placeholder {
    color: #ffffff70;
}

.contact-wrapper .touch .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.contact-wrapper .touch .btns {
    color: #fff;
    font-weight: 400;
}

.contact-wrapper .touch .btns i::after {
    background: #fff;
}

.iframe-map {
    padding-bottom: 80px;
}

.navbar-brand {
    margin-top: -13px;
}

.customer-support .form-group {
    margin-bottom: 40px;
}

.customer-support .form-control {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #b5b5b5;
    color: #595959;
    padding: 10px 0;
}

.customer-support .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.about_rt .dt {
    text-align: center;
    border-top: 2px solid #ccc;
    padding: 16px;
}

.about_rt .dt:first-child {
    margin-top: 4px;
}

.about_rt .dt h5 {
    color: #d8ab5b !important;
    font-size: 45px;
}

.about_rt .dt h5 span {
    display: block;
    font-family: 'FuturaPT-Book' !important;
    color: #595959;
    font-size: 18px;
}

.dt.d-flex {
    border-bottom: 2px solid #ccc;
}

.dt.d-flex .half {
    position: relative;
}

.dt.d-flex .half:first-child::after {
    width: 2px;
    content: '';
    height: 118px;
    right: -20px;
    top: -18px;
    background: #ccc;
    position: absolute;
}

.highlights {
    padding-bottom: 100px;
}

.highlights .highligts-slides {
    padding-top: 0;
}

.highlights .highligts-slides .product-showcase-carousel-controls {
    position: absolute;
    bottom: -80px;
    right: 0;
    left: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.highlights .highligts-slides .product-showcase-carousel-controls img {
    width: 50px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.highlights .highligts-slides .product-showcase-carousel-controls--right {
    right: 46%;
    left: auto;
}

.highlights .highligts-slides .product-showcase-carousel-controls--right:hover {
    right: 45%;
}

.highlights .highligts-slides .product-showcase-carousel-controls--left {
    left: 43%;
    right: auto;
    bottom: -84px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.highlights .highligts-slides .product-showcase-carousel-controls--left:hover {
    left: 42%;
}

.highlights .highligts-slides .draggable {
    margin: 0 -18px;
}

.highlights .highligts-slides .slick-slide {
    position: relative;
    overflow: hidden;
    margin: 0 20px;
}

.highlights .highligts-slides .slick-slide .highData {
    padding: 50px 35px 70px;
    border: solid 1px #d3d3d3;
    border-top: none;
    position: relative;
    z-index: 2;
}

.highlights .highligts-slides .slick-slide .highData h5 {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: all 0.8s ease-in-out 0s;
    transition: all 0.8s ease-in-out 0s;
    margin-bottom: 20px;
    font-family: 'FuturaPT-Book' !important;
}

.highlights .highligts-slides .slick-slide .highData p {
    font-size: 18px;
    -webkit-transition: all 0.8s ease-in-out 0s;
    transition: all 0.8s ease-in-out 0s;
    margin-bottom: 0;
}

.highlights .highligts-slides .h280 {
    height: 270px;
}

.highlights .row {
    border-top: none;
}

.highlights .row .hoverImgEffect {
    overflow: hidden;
    position: relative;
}

.highlights .row .hoverImgEffect .highbox {
    overflow: hidden;
}

.highlights .row .hoverImgEffect .highbox .highimg {
    height: 202px;
}

.highlights .row .hoverImgEffect .highbox .highimg img {
    -webkit-transition: all 0.8s ease-in-out 0s;
    transition: all 0.8s ease-in-out 0s;
}

.highlights .hoverImgEffect:hover .hoverImg {
    opacity: 1;
}

.highlights .hoverImgEffect:hover .hoverImg img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.highlights .hoverImgEffect:hover .highData {
    border: none;
}

.sp_cont {
    border: 1px solid #cccccc54;
    padding: 3px 30px;
}

.specs h2 {
    font-family: 'FuturaPT-Demi' !important;
    margin-bottom: 20px;
    font-size: 28px;
    margin-top: 15px;
    text-transform: uppercase;
}

.specs li {
    font-size: 18px;
    color: #595959;
    list-style: none;
    border-top: 1px solid #cccccc54;
    padding: 10px 0;
}

.specs p {
    border-top: 1px solid #cccccc54;
    padding-top: 10px;
}

.specs li strong {
    color: #909090;
}

.specs li:last-child {
    padding-bottom: 0;
}

.sp_img img {
    max-width: 100%;
}

.sp_cont,
.sp_cont .slick-list,
.sp_cont .slick-track {
    height: 100%;
}

.sp_img,
.sp_img .slick-list,
.sp_img .slick-track {
    height: 100%;
}

.custom_arrow img {
    width: 50px;
}

.custom_arrow .arrow_left {
    transform: rotate(180deg);
    margin-right: 10px;
}

.custom_arrow {
    position: absolute;
    right: 30px;
    top: 30px;
}

.proj_img {
    padding: 60px;
    background: #f2f1eb;
    margin-bottom: 30px;
}

.specifications .product-showcase-carousel-controls {
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    background: #fff;
}

.specifications .product-showcase-carousel-controls img {
    width: 50px;
}

.specifications .product-showcase-carousel-controls--left {
    right: 70px;
    padding-right: 45px;
}

.specifications .product-showcase-carousel-controls--left img {
    transform: rotate(180deg);
}

.floorplans .product-showcase-carousel-controls {
    position: absolute;
    top: -85px;
    right: 0px;
    cursor: pointer;
    z-index: 2;
}

.floorplans .product-showcase-carousel-controls img {
    width: 50px;
}

.floorplans .product-showcase-carousel-controls--left {
    right: 70px;
    padding-right: 15px;
}

.floorplans .product-showcase-carousel-controls--left img {
    transform: rotate(180deg);
}

.fp {
    justify-content: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.fp .nav-item {
    margin: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp .nav-item a {
    font-family: 'FuturaPT-Demi';
    border: 0;
    font-size: 20px;
    color: #909090;
    position: relative;
}

.fp .nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: #595959;
    transition: all 0.8s ease 0s;
}

.fp .nav-link.active::after {
    width: 100%;
}

.pro_n {
    margin: 0 15px;
}

.proj_img img {
    max-width: 100%;
}

.pro_slide .slick-list {
    margin: 0 -15px;
}

.slidesWrap {
    position: relative;
}

.slidesWrap ul.myslides {
    position: relative;
    padding-top: 0;
    left: 0;
    margin: 0;
    width: 612px;
    clear: both;
    margin-top: 0;
    z-index: 3;
    z-index: 1;
}

.slidesWrap ul li.myslide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    list-style: none;
}

.slidesWrap ul li.myslide img {
    width: 100%;
}

.wrapper2.slidesWrap ul.myslides,
.wrapper3.slidesWrap ul.myslides {
    margin: 0;
    min-height: auto;
    width: 100%;
}

.controlls {
    display: none;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fadeInUp2,
.speed2.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.3s !important;
    animation-delay: 0.3s !important;
}

.fadeInUp3,
.speed3.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
}

.speed4.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.1s !important;
    animation-delay: 0.1s !important;
}

.speed5.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}

.speed6.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.10s !important;
    animation-delay: 0.10s !important;
}

.speed7.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.12s !important;
    animation-delay: 0.12s !important;
}

.speed8.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.14s !important;
    animation-delay: 0.14s !important;
}

.fadeInUp4,
.speed4.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}

.fadeInUp5,
.speed5.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.10s !important;
    animation-delay: 0.10s !important;
}

.fadeInUp6,
.speed6.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.12s !important;
    animation-delay: 0.12s !important;
}

.fadeInUp7,
.speed7.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.14s !important;
    animation-delay: 0.14s !important;
}

.fadeInUp8,
.speed8.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInUpSlow {
    -webkit-animation-name: fadeInUpSlow;
    animation-name: fadeInUpSlow;
}

.speed1.animated,
.speed2.animated,
.speed3.animated,
.speed4.animated,
.speed5.animated,
.speed6.animated,
.speed7.animated,
.speed8.animated {
    opacity: 0;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.speed1.animated2,
.speed2.animated2,
.speed3.animated2,
.speed4.animated2,
.speed5.animated2,
.speed6.animated2,
.speed7.animated2,
.speed8.animated2 {
    opacity: 1;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.frame3 .wrapper {
    margin: 0 auto;
    position: relative;
    padding-top: 0;
    left: 0;
    width: 35%;
    min-height: 500px;
    clear: both;
    margin-top: 1em;
    z-index: 3;
}

.frame3 .wrapper .item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 1;
}

.frame3 .wrapper2 {
    position: absolute;
    top: 0;
    left: auto;
    right: 15px;
    width: 428px;
    height: 218px;
    z-index: 1;
    opacity: 1
}

.frame3 .wrapper3 {
    position: absolute;
    top: 58%;
    left: auto;
    right: 80px;
    width: 300px;
    height: 218px;
    z-index: 0;
    opacity: 1
}

.frame3 .wrapper3 .item img {
    width: 300px;
    height: 218px;
}

.frame3 .wrapper2 .item img {
    width: 300px;
    height: 218px;
}

.frame3 .txtMs {
    margin-bottom: 0;
    max-width: 93%;
    overflow: hidden;
}

.amenWrapper .amenList .owl-dots .owl-dot {
    display: none;
    pointer-events: none;
    cursor: default;
}

.amenWrapper .amenList .owl-dots .owl-dot.active {
    display: block;
}

#gallery .myslide h5 {
    position: absolute;
    bottom: 0px;
    padding: 8px;
    display: block;
    width: 100%;
    color: #fff !important;
    margin: 0;
    font-family: 'FuturaPT-Book' !important;
    font-weight: 300;
    z-index: 1;
    opacity: 0;
}

#gallery .myslide::after {
    content: '';
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    left: 0;
}

#gallery .myslide.active h5 {
    opacity: 1;
    animation: fadeInUp 1s;
}

section.frame3 .arrows {
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: -90px;
    right: 15px;
    z-index: 1;
}

a.galArrowLeft {
    margin-right: 25px;
}

a.galArrowLeft img {
    transform: rotate(-180deg);
}

.gallery .arrows img {
    width: 50px;
}

.location iframe {
    margin-bottom: 50px;
}

.lc_icon img {
    margin-bottom: 0px;
    max-width: 75px;
}

.lc_icon p {
    font-size: 16px;
}

.footerlogo {
    width: 135px;
}

.copy {
    background: #d8ab5b;
    padding: 2px 0;
}

.copy p {
    text-align: center;
    color: #fff;
    font-size: 13px;
    opacity: 0.5;
    margin: 0;
}

.mobbanner {
    display: none;
}

.modal .close {
    cursor: pointer;
    opacity: 1;
    text-shadow: none;
    background: #d8ab5b;
    color: #fff;
    border-radius: 50px;
    margin: 0;
    position: absolute;
    right: -10px !important;
    top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    right: -45px;
    font-family: calibri;
}

.modal .modal-content {
    border: none;
    border-radius: 0;
    padding: 30px;
    background: #f2f1eb;
}

.modal .modal-body {
    margin: 0
}

.modal .modal-body p {
    font-size: 15px;
}

.modal-dialog {
    max-width: 450px;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .close {
    outline: none !important
}

.spipad {
    display: none !important;
}

.gallery_mob {
    display: none
}

.goldfooter img {
    width: 90px;
}

.data_pot {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

.location iframe {
    width: 100%;
}

.g-recaptcha {
    margin: 20px 0 30px;
}

.g-recaptcha div {
    margin: 0;
}

.form-group {
    position: relative;
}

label.error {
    color: red;
    bottom: -29px;
    position: absolute;
    font-size: 13px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: inherit;
}

.grey {
    background: #f2f1eb;
}

.pad80 {
    padding: 80px 0;
}

.span {
    color: #000 !important;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
    font-family: futurapt-book !important
}

.h4 {
    font-size: 60px;
    margin-bottom: 35px;
    position: relative;
    z-index: 1
}

.about p {
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
}

.about_inner {
    position: relative;
    overflow: hidden
}

.about_inner .col-lg-4.col-md-4.piazza_lock {
    right: 0;
    top: 50px
}

.about_inner .col-lg-4.col-md-4.piazza_lock img {
    width: 120%
}

.about_inner .col-md-12 {
    margin-top: 70px
}

.about_inner .col-lg-9,
.about_inner .col-lg-8 {
    margin: 0;
    z-index: 1
}

.about_inner .col-lg-3,
.about_inner .col-lg-4 {
    position: absolute;
    right: 220px;
    top: 100px
}

.about_inner .col-lg-3 img,
.about_inner .col-lg-4 img {
    width: 180%
}

.iframe {
    width: 100%;
    height: 550px
}

.video_play {
    position: relative;
}

.video_play .poster {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-position: center !important;
    right: 0;
    background-size: cover !important;
}

.highlights {
    padding: 80px 0
}

.highlights .highligts-slides,
.highlights .highligts-slides2 {
    padding-top: 0
}

.highlights .highligts-slides .product-showcase-carousel-controls,
.highlights .highligts-slides2 .product-showcase-carousel-controls {
    position: absolute;
    bottom: -80px;
    right: 0;
    left: 0;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s
}

.highlights .highligts-slides .product-showcase-carousel-controls img,
.highlights .highligts-slides2 .product-showcase-carousel-controls img {
    width: 50px;
    cursor: pointer;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s
}

.highlights .highligts-slides .product-showcase-carousel-controls--right,
.highlights .highligts-slides2 .product-showcase-carousel-controls--right {
    right: 46%;
    left: auto
}

.highlights .highligts-slides .product-showcase-carousel-controls--right:hover,
.highlights .highligts-slides2 .product-showcase-carousel-controls--right:hover {
    right: 45%
}

.highlights .highligts-slides .product-showcase-carousel-controls--left,
.highlights .highligts-slides2 .product-showcase-carousel-controls--left {
    left: 43%;
    right: auto;
    bottom: -84px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.highlights .highligts-slides .product-showcase-carousel-controls--left:hover,
.highlights .highligts-slides2 .product-showcase-carousel-controls--left:hover {
    left: 42%
}

.highlights .highligts-slides .draggable,
.highlights .highligts-slides2 .draggable {
    margin: 0 -18px
}

.highlights .highligts-slides .slick-slide,
.highlights .highligts-slides2 .slick-slide {
    position: relative;
    overflow: hidden;
    margin: 0 20px
}

.highlights .highligts-slides .slick-slide .highData,
.highlights .highligts-slides2 .slick-slide .highData {
    padding: 50px 35px 70px;
    border: solid 1px #ebebeb;
    border-top: none;
    position: relative;
    z-index: 2
}

.highlights .highligts-slides .slick-slide .highData h5,
.highlights .highligts-slides .slick-slide .highData h3,
.highlights .highligts-slides2 .slick-slide .highData h5,
.highlights .highligts-slides2 .slick-slide .highData h3 {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: all .8s ease-in-out 0s;
    transition: all .8s ease-in-out 0s;
    margin-bottom: 20px;
    font-family: futurapt-book !important
}

.highlights .highligts-slides .slick-slide .highData p,
.highlights .highligts-slides2 .slick-slide .highData p {
    font-size: 18px;
    -webkit-transition: all .8s ease-in-out 0s;
    transition: all .8s ease-in-out 0s;
    margin-bottom: 0
}

.highlights .highligts-slides .h280,
.highlights .highligts-slides2 .h280 {
    height: 280px
}

.highlights .row {
    border-top: none
}

.highlights .row .hoverImgEffect {
    overflow: hidden;
    position: relative
}

.highlights .row .hoverImgEffect .highbox {
    overflow: hidden
}

.highlights .row .hoverImgEffect .highbox .highimg {
    height: 202px
}

.highlights .row .hoverImgEffect .highbox .highimg img {
    -webkit-transition: all .8s ease-in-out 0s;
    transition: all .8s ease-in-out 0s
}

.highlights .hoverImgEffect:hover .hoverImg {
    opacity: 1
}

.highlights .hoverImgEffect:hover .hoverImg img {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.highlights .hoverImgEffect:hover .highData {
    border: none
}

.highlights .hoverImgEffect:hover .highData span {
    color: #fff !important
}

#specs {
    padding-top: 80px
}

.specifications_new .container {
    max-width: 100%;
    padding: 0
}

.specifications_new .row {
    margin: 0
}

.specifications_new .col-lg-5 {
    padding: 0;
    background: #595959
}

.specifications_new .col-lg-7 {
    position: relative;
    padding: 0
}

.specifications_head {
    max-width: 430px;
    margin-right: 0;
    padding-right: 10px
}

.specifications_head ul li {
    width: 100%
}

.specifications_head ul li a {
    width: 100%;
    border: none !important;
    padding: 13px 0;
    color: #898989;
    font-size: 18px;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    border-bottom: solid 1px #898989 !important
}

.specifications_head .nav-tabs {
    border-bottom: none;
    width: 75%;
    margin: 0
}

.specifications_data .data-bg {
    background-size: cover !important;
    height: 722px;
    width: 100%;
    position: relative
}

.specifications_head ul li a.active {
    background: 0 0 !important;
    border-bottom: solid 1px #fff !important;
    color: #fff !important
}

.specifications-list-data {
    background: #fff;
    padding: 30px;
    width: 50%;
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 20px
}

.specifications-list-data h3 {
    font-size: 30px
}

.specifications-list-data p {
    margin-bottom: 8px;
    font-size: 18px
}

.specifications_new .span,
.specifications_new .h4 {
    color: #fff !important
}

.usps_wrapper .col-lg-4 {
    margin: 0;
}

.usps-box img {
    width: 50px;
    margin-bottom: 17px
}

.usps-box .white {
    display: none
}

.usps-box:hover .black {
    display: none
}

.usps-box:hover .white {
    display: block
}

.usps-box {
    border: solid 1px #f2f1eb;
    padding: 50px 0;
    margin-bottom: 30px;
    text-align: center;
    transition: all ease-in-out .5s
}

.usps-box:hover {
    background: #595959
}

.usps-box:hover p {
    color: #fff
}

.usps-box p {
    font-size: 18px;
    margin: 0
}

.map {
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.advantages-loc {
    border-bottom: solid 1px #c9c9c9
}

.location-grey h3 {
    font-family: futurapt-book !important;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px
}

.location-grey ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 0 0 0 26px
}

.location-grey ul li {
    color: #606060;
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 1.4;
    transition: all ease-in-out .5s;
    position: relative
}

.location-grey ul li:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #606060;
    position: absolute;
    left: -10px;
    top: 7px
}

.location-grey {
    background: #fff;
    display: flex;
    align-items: flex-start;
    border-right: solid 1px #c9c9c9;
    height: 184px;
    padding: 40px 0;
    justify-content: center;
    transition: all ease-in-out .5s
}

.location-grey:hover {
    background: #595959
}

.location-grey:hover ul li {
    color: #fff
}

.location-grey:hover ul li:after {
    background: #fff
}

.location-grey:hover img.white-icon {
    display: block
}

.location-grey:hover img.black-icon {
    display: none
}

.advantages-loc {
    border-bottom: solid 1px #c9c9c9
}

.location-grey img {
    width: 92px;
    margin: 0
}

.location-grey img.white-icon {
    display: none
}

.advantages-loc .col-lg-4:last-child .location-grey {
    border-right: 0
}

.advantages-loc .col-lg-4:nth-child(2) .location-grey ul {
    margin: 0 0 0 20px
}

.advantages-loc .col-lg-4:first-child .location-grey ul {
    margin-left: 14px
}

.advantages-loc .row {
    margin: 0
}

.advantages-loc .col-lg-4 {
    padding: 0
}

.floor-wrapper .customers-slide {
    padding-top: 0
}

.floor-wrapper .product-showcase-carousel-controls {
    top: -61px
}

.floor-wrapper .overflow {
    padding: 60px;
    overflow: hidden
}

.floor-wrapper .floor_data p {
    padding: 40px 0 0;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 700;
    color: #000
}

.floor-wrapper .floor_data small {
    color: #595959;
    position: relative
}

.floor-wrapper .floor_data small::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background: #595959;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 53px
}

.gallerywrapper .gall-slide {
    margin: 0 10px
}

.gallerywrapper .gall-slide:hover img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}

.gallerywrapper .gall-slide .img-wrap {
    overflow: hidden
}

.gallerywrapper .gall-slide .img-wrap img {
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s
}

.gallerywrapper .gall-slide span {
    font-size: 18px;
    margin-top: 11px;
    display: block;
    color: #000
}

.gallerywrapper .product-showcase-carousel-controls {
    position: absolute;
    top: -60px;
    right: 0;
    z-index: 9;
}

.gallerywrapper .product-showcase-carousel-controls img {
    width: 50px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.gallerywrapper .product-showcase-carousel-controls--left img {
    position: relative;
    left: -70px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gallerywrapper .product-showcase-carousel-controls--left img:hover {
    left: -80px;
}

.gallerywrapper .product-showcase-carousel-controls--right img {
    position: relative;
    right: 0;
}

.customers-wrapper .product-showcase-carousel-controls--right img:hover {
    right: -10px;
}

.controls .form-group.counrty_sl span {
    margin: 0;
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #6a7785 !important;
}

.select2-results__options {
    height: 168px;
    overflow-y: auto;
}

.sub_btn {
    margin-top: 30px;
    display: inline-block;
    background: #d8ab5b;
    color: #fff;
    font-size: 20px;
    padding: 4px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sub_btn:hover {
    background: #000;
}