@font-face {
    font-family: 'Anglecia Pro Dsp';
    src: url('AngleciaProDisplay-Italic.eot');
    src: url('AngleciaProDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('AngleciaProDisplay-Italic.woff2') format('woff2'),
        url('AngleciaProDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

